<div class="main">
  <button class="openbtn" onclick="openNav()">☰</button>
  <h2>G</h2>
  <i class="fa fa-search"></i>
</div>

<div class="all">
  <div class="total">
    <div>
      articles:
    </div>
    <div class="count">
      <%= Article.where(group_id: [nil, ""]).count %>
    </div>
  </div>
  <div class="articles">
    <% Article.where(group_id: [nil, ""]).each do |article| %>
    <div class="article-container">
      <div class="article-row">
        <div>
          <%= image_tag User.find(article.author_id).image.url(:medium), :class => 'article-icon' %>
        </div>
        <div class="article-second">
          <div class="article-body-height">
            <%= link_to article.body , article_path(article), :class => 'article-body'%>
          </div>
          <div class="hash-tag">
           <% if article.group_id.present? %>
             <span>#</span><%= link_to Group.find(article.group_id).name, group_path(article.group_id) %>
            <% else %>#Groupify
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %><br>
  </div>
</div>