<div class="comment-new">
  <h3>Post a Comment</h3>

  <%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => 'text-area-new' %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
  <% end %>
</div>