<div class="groupify">
  <div class="groupify-h2">
    <h2>Groupify</h2>
  </div>
  <div class="group-buttons">
    <%= button_to "LOG IN" , user_session_path, method: :get, :class => 'btn-block'%><br>
    <%= button_to "SIGN UP" , new_user_registration_path, method: :get, :class => 'btn-block'%>
  </div>
</div>