<h1>All Articles</h1>

<ul id="articles">
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Post", new_post_path, class: "new-post" %>
