// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all {
  background-color: rgb(243, 243, 243);
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  background-color: white;
  -webkit-box-shadow: 0px 10px 8px -10px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 10px 8px -10px rgba(143, 143, 143, 1);
  box-shadow: 0px 10px 8px -10px rgba(143, 143, 143, 1);
}

.count {
  font-weight: bold;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-body {
  color: black;
  font-size: 0.8em;
  line-height: 3px;
}

.article-body:hover {
  text-decoration: none;
  color: black;
}

.hash-tag {
  color: rgb(74, 147, 255);
  font-size: 0.8em;
}

.new-article {
  padding: 0.2em 0.6em 0.2em 0.5em;
  background-color: #3778c2;
  font-size: 20px;
  color: white;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 10px;
  background-color: white;
  padding: 10px;
}

.article-row {
  display: flex;
}

.article-icon {
  height: 70px;
  width: 70px;
  margin-right: 0.3em;
}

.article-body-height {
  line-height: 15px;
}

.article-second {
  padding-left: 0.4em;
}

.article-second h3 {
  font-size: 13px;
  color: rgb(74, 147, 255);
}

.like-retweet button {
  border: none;
  background-color: white;
  padding-right: 20px;
}

.like-retweet button i {
  color: rgb(74, 147, 255);
}