// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.who-liked {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-left: 40px;
}

.who-liked i {
  color: #3b8fee;
}

.who-liked p {
  font-size: 14px;
}

.button-like {
  position: relative;
}

.like-button-dynamic {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 4px;
  border: none;
}

.like-button-dynamic:hover {
  outline: none;
}
