.profile-link {
  display: flex;
  margin: 0 10px 0 10px;
}

.hard-rule {
  margin: 0 10px 0 40px;
  border-top: 0.5px solid white;
}

.fa-user, .fa-home, .fa-link, .fa-users {
  font-size: 20px;
  margin: 8px -20px 0 10px;
  color: white;
}
