.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3778c2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.sidebar h3 {
  font-size: 0.9em;
  color: white;
}

.sidebar a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #3778c2;
  color: white;
  border: none;
  padding-bottom: 10px;

}

.openbtn:hover {
  outline: none;
}

.main {
  transition: margin-left .5s;
  padding: 0 10px;
}

.sidebar-image {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin: 0.5em;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-link1,
.side-link2,
.side-link3 {
  font-size: 1em;
}
